node_modules
.next
out
dist
coverage
playwright-report
test-results
.turbo
.vercel
.env
.env*.local
*.tsbuildinfo
pnpm-debug.log*
.env.development.local
.env.production.local
/storage
/apps/web/storage
